{% extends "app/base.html" %}
<!DOCTYPE html>
<html lang="en">

{% load static %}
<body class="bg-theme bg-theme1">

<!-- start loader -->
   <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
   <!-- end loader -->

<!-- Start wrapper-->

<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid">

      {% block content %}
      <div class="modal fade" id="Modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content  bg-theme3">
            <div class="modal-header">
              <h5 class="modal-title text-dark" id="exampleModalLabel">Delete</h5>
              
            </div>
            <div class="modal-body text-dark">
              
                DO YOU WANT TO DELETE PARCEL?
              
            </div>
            <div class="modal-footer">
              <button type="button" onclick=closeBtn() class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
              
              <button value="" id="deleteBtn" type="button" class="btn btn-danger delete ">Delete</button>
              
            </div>
          </div>
        </div>
      </div>
    
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content  bg-secondary bg-gradient">
      <div class="modal-header">
        <h5 class="modal-title text-black" id="exampleModalLabel">Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="myForm" method="POST" action="{% url "update" %}">

          {% csrf_token %}

          
          <div class="form-group">
            <input name="id" type="text" id="myId" style="width:10px; height:2px;border:none;outline:none;" class="bg-primary bg-radiant text-primary">
            <div class="form-group">
                <label for="message-text" class="col-form-label text-black">Supplier:</label>
                <div class="input-group mb-10">
                    <select multiple name="supplier" class="custom-select" id="Select01" required>
                    <option disabled selected>Choose...</option>
                    {% for supplier in suppliers%}
                    <option value={{supplier.id}}  style="background-color:gray;"{% if item and supplier in item.suppliers.all %}selected{% endif %}>{{ supplier.name }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            
            <label for="recipient-name" class="col-form-label text-black">Item Name:</label>
                <input type="text" class="form-control" name="Item_name"  id="name">
                <label for="recipient-name" class="col-form-label text-black">Price:</label>
                <input type="text" class="form-control" name="price"  id="price">
                <label for="recipient-name" class="col-form-label text-black">Description:</label>
                <input type="text" class="form-control" name="description" id="description">
        </div>
                <label for="recipient-name" class="col-form-label text-black">Date created</label>
                <input type="text" class="form-control" name="date_created" id="date_created">
        </div>
               
          
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button value="" type="submit" class="btn btn-primary update" id="update">Update</button>
          </div>
        </div>
      </div>
        </form>
      </div>
      
</div>
{% if messages %}
{% for message in messages %}
<div id ="popupDiv" class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
     <div class="alert-icon">
    <i class="icon-info"></i>
    </div>
    
    <span class="popupContent alert-message" id="popupContent">{{message}}</span>
</div>
{% endfor %}

{% endif %}
    <div class="row mt-3">
      <div class="col-lg-8 " style="margin: auto;">
         <div class="card">
           <div class="card-body">
           <div class="card-title">Create Item |<a href="#view"> View items</a></div>
           <hr>
          <form class="horizontal-form" method="POST">
           
            {% csrf_token %}
           

           <div>
            <div class="form-group">
              <label for="input-1">Date created</label>
              <input name="date" type="date" class="form-control" required>
             </div>
            <div class="form-group">
             <label for="input-2">Name</label>
             <input type="text" name="name" class="form-control" placeholder="Item name" required>
            </div>
            <div class="form-group">
             <label for="input-3">Price</label>
             <input type="text" name="price" class="form-control" id="input-3" placeholder="0.00"required>
            </div>
           </div>
           
           <div class="form-group">
            <label for="input-4">Description</label>
            <input type="text" name="description" class="form-control" id="input-4" placeholder="Item Description" required>
           </div>

           <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Suppliers</label>
            </div>
            <select multiple name="supplier" class="custom-select" id="inputGroupSelect01" required>
              <option disabled selected>Choose...</option>
              {% for supplier in suppliers%}
              <option value={{supplier.id}}  style="background-color:gray;"{% if item and supplier in item.suppliers.all %}{% endif %}>{{ supplier.name }}</option>
              {% endfor %}
            </select>
            
            
          </div>
          <h5>Hold 'ctrl' to select multiple</h5>
          
           
           
           <div class="form-group">
            <button type="submit" class="btn btn-light px-5"> Create Item</button>
          </div>
          </form>
         </div>
         </div>
         <div class="col-lg- 9">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" id="view">Item History</h5>
              
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Item</th>
                      <th scope="col">Price</th>
                      <th scope="col">Date created</th>
                      <th scope="col">Supplier<a class="pointer" onclick=openPopup()> ➕</a></th>
                      <th scope="col">Actions</th>
                      
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% if items %}
                    {% for item in items %}
                    <tr>
                      
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.date_created}}</td>
                        <td> {% for item in item.suppliers.all %}
                            {{item.name}},
                            {% endfor %}</td>
                        <td ><a href="{% url "details" item.id %}"><button class="btn btn-primary"  style="font-size:10px; background-color: #28a745; color:white;" type="button" >View</button></a><button id="openBtn" class="btn btn-primary openBtn" style="background-color: #fd7e14;font-size:10px; color:white;" type="button" data-toggle="modal"
                        data-item-id="{{item.id}}">Update</button><button class="btn btn-primary modalBtn" style="background-color: red;font-size:10px; color:white;" type="button" data-toggle="modal"
                        data-item-id="{{item.id}}">Delete</button></td>
                      
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                      <td colspan="4"><p>No Item</p><td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div><!--End Row-->
      </div>


      
    </div><!--End Row-->
    {% endblock content %}
	

</body>
</html>
