{% extends "app/base.html" %}


<!DOCTYPE html>
<html lang="en">
{% load static %}

<body class="bg-theme bg-theme1">

<!-- start loader -->
   <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
   <!-- end loader -->


<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid" >
      {% block content %}
      
        <div class="col-lg-12 d-flex justify-content-center" style="height:70vh;">
            <div  style="text-align:center">
                <table class="table table-striped bg-theme bg-theme1 col-md-8 mx-auto">
                    <thead>
                      <tr>
                        <th scope="col" colspan="3"> Supplier Info</th>
                        
                      </tr>
                    </thead>
                    {% if supplier %}
                    <tbody>
                      <tr>
                        <th scope="row">Name</th>
                        <td colspan="2">{{supplier.name}}</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">Email</th>
                        <td>{{supplier.email}}</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">Phone No</th>
                        <td>{{supplier.phone_number}}</td>
                        
                      </tr>
                      <tr>
                        <th scope="row">Address</th>
                        <td>{{supplier.address}}</td>
                        
                      </tr>
                    </tbody>
                    {% endif %}
                  </table>
                  <br>
                  <br>

                  <table class="table table-striped bg-theme bg-theme1">
                    <thead>
                      <tr>
                        
                        <th scope="col" colspan="2">Products</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                        
                      <tr>
                        {% for item in supplier.item_supplied.all %}
                        <th scope="row">
                            Item: {{item.name}}<br>
                            Price: ${{item.price}} 
                            <br>Date: {{item.date_created}}
                            <br>Description: {{item.description}}
                        </th>
                        <tr>
                            
                          </tr>
                            {% endfor %}
                        
                      </tr>
                     
                    </tbody>
                  </table>
            </div>
          
            
        </div>
    </div>
</div>       
	  {% endblock content %}
	  <!--start overlay-->
  
</body>

</html>


    